<!DOCTYPE html>
<html lang="zh-tw">
<head>
	<title>AutoMcdonalds</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" href="css/icomoon.css">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/perfect-scrollbar.css">
	<link href="css/vuetify.min.css" rel="stylesheet">

	<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/main.js"></script>
	<script src="js/perfect-scrollbar.min.js"></script>
</head>
<body>
	<div id="am-page">
		<aside id="am-aside" class="border js-fullheight">
			<h1 id="am-logo">Auto<br>Mcdonalds</h1>
			<nav id="am-menu">
				<ul>
					<li v-bind:class="[active == 'home'? 'am-active':'']"><a href="#Home" @click="changeView('home-component')">Home</a></li>
					<li v-bind:class="[active == 'register'? 'am-active':'']"><a href="#Register" @click="changeView('register-component')">Register</a></li>
					<li v-bind:class="[active == 'history'? 'am-active':'']"><a href="#History" @click="changeView('history-component')">History</a></li>
					<li v-bind:class="[active == 'about'? 'am-active':'']"><a href="#About" @click="changeView('about-component')">About</a></li>
				</ul>
			</nav>
			
			<div class="am-footer">
				<p><small><span>&copy; 2019 JCChen. All Rights Reserved.</span></small></p>
				<ul>
					<li><a href="https://github.com/jcchen07944031/AutoMcdonalds" target="_blank"><i class="icon-github"></i></a></li>
				</ul>
			</div>
		</aside>
		<div id="am-content" class="js-fullheight" style="background-image: url(images/img_bg_3.jpg);background-size: cover;">
			<transition mode="out-in">
				<keep-alive>
					<component :is="view"></component>
				</keep-alive>
			</transition>
		</div>
	</div>

	<script>
		var vm = new Vue({
			el:'#am-page',
			data: {
				view: 'register-component',
				active: 'register'
			},
			methods: {
				changeView: function(currentView) {
					if(currentView != this.view) {
						this.view = currentView;
						this.active = currentView.split('-')[0];
					}
				}
			},
			components: {
				'home-component': {
					template: `
						<div id="am-home" class="am-content-block" data-app="true">
							HOME
						</div>`
				},
				'register-component': {
					vuetify: new Vuetify(),
					register: this,
					data: function(){
						return {
							username:'',
							password:'',
							keyword:'',
							dialog_success:false,
							dialog_fail:false,
							dialog_cancel:false,
							dialog_cancel_success:false,
							dialog_cancel_fail:false,
						}
					},
					methods: {
						btn_register: function() {
							let register = this;
							axios.post('/AutoMcdonalds/api/register', {
								username: register.username, 
								password: register.password,
								keyword: register.keyword
							})
							.then(function (response) {
								console.log(response);
								if(response.data) {
									register.dialog_success = true;
									register.username = '';
									register.password = '';
									register.keyword = '';
								}
								else {
									register.dialog_fail = true;
									register.password = '';
								}
							})
							.catch(function (error) {
								console.log(error);
							});
						},
						do_cancel: function() {
							let register = this;
							axios.post('/AutoMcdonalds/api/cancel', {
								username: register.username
							})
							.then(function (response) {
								register.dialog_cancel = false;
								console.log(response);
								if(response.data) {
									register.dialog_cancel_success = true;
									register.username = '';
									register.password = '';
									register.keyword = '';
								}
								else {
									register.dialog_cancel_fail = true;
									register.password = '';
									register.keyword = '';
								}
							})
							.catch(function (error) {
								register.dialog_cancel = false;
								console.log(error);
							});
						}
					},
					template: `
						<div id="am-register" class="am-content-block" data-app="true">
							<div id="am-register-form">
								<div>
									<span id="am-register-title">登記</span>
								</div>
								<div class="am-wrap-input validate-input" data-validate = "Username is required">
									<input class="am-input" type="text" name="username" placeholder="Username" v-model="username">
								</div>
								<div class="am-wrap-input validate-input" data-validate = "Password is required">
									<input class="am-input" type="password" name="pass" placeholder="Password" v-model="password">
								</div>
								<div class="am-wrap-input validate-input">
									<input class="am-input" type="text" name="keyword" placeholder="Keyword" v-model="keyword">
								</div>
								<div class="am-wrap-button">
									<div id="am-button-register">
										<button class="am-button" @click="btn_register">
											確認
										</button>
									</div>
									<div id="am-button-cancel">
										<button class="am-button" @click="dialog_cancel = true">
											刪除
										</button>
									</div>
								</div>
									
							</div>
							<v-dialog v-model="dialog_success" max-width="290">
								<v-card>
									<v-card-title>登記成功</v-card-title>
									<v-card-text></v-card-text>
									<v-card-actions>
										<v-spacer></v-spacer>
										<v-btn color="#228896" text @click="dialog_success = false">確認</v-btn>
									</v-card-actions>
								</v-card>						
							</v-dialog>
							<v-dialog v-model="dialog_fail" max-width="290">
								<v-card>
									<v-card-title>登記失敗</v-card-title>
									<v-card-text>請確認帳號(手機)及密碼或稍後再試</v-card-text>
									<v-card-actions>
										<v-spacer></v-spacer>
										<v-btn color="#228896" text @click="dialog_fail = false">確認</v-btn>
									</v-card-actions>
								</v-card>						
							</v-dialog>
							<v-dialog v-model="dialog_cancel" max-width="290">
								<v-card>
									<v-card-title>是否刪除帳號</v-card-title>
									<v-card-text></v-card-text>
									<v-card-actions>
										<v-spacer></v-spacer>
										<v-btn color="#228896" text @click="do_cancel">確認</v-btn>
										<v-btn color="#228896" text @click="dialog_cancel = false">取消</v-btn>
									</v-card-actions>
								</v-card>						
							</v-dialog>
							<v-dialog v-model="dialog_cancel_success" max-width="290">
								<v-card>
									<v-card-title>刪除成功</v-card-title>
									<v-card-text></v-card-text>
									<v-card-actions>
										<v-spacer></v-spacer>
										<v-btn color="#228896" text @click="dialog_cancel_success = false">確認</v-btn>
									</v-card-actions>
								</v-card>						
							</v-dialog>
							<v-dialog v-model="dialog_cancel_fail" max-width="290">
								<v-card>
									<v-card-title>刪除失敗</v-card-title>
									<v-card-text>請確認帳號(手機)或稍後再試</v-card-text>
									<v-card-actions>
										<v-spacer></v-spacer>
										<v-btn color="#228896" text @click="dialog_cancel_fail = false">確認</v-btn>
									</v-card-actions>
								</v-card>						
							</v-dialog>
						</div>`
				},
				'history-component': {
					data: function() {
						return {
							keyword: '',
							rows: [],
							usernames: [],
							selected: 0,
							init: 1
						}
					},
					methods: {
						btn_history: function() {
							let history = this;
							history.init = 0;
							axios.post('/AutoMcdonalds/api/getHistory', {
								keyword: history.keyword
							})
							.then(function (response) {
								console.log(response);
								if(response.data) {
									history.usernames = [];
									history.rows = [];
									history.selected = 0;
									for(let i = 0; i < response.data.length; i++) {
										history.usernames.push({'text': response.data[i].username, 'value': i});
										history.rows[i] = [];
										Vue.set(history.rows, i, response.data[i].history);
									}
									history.keyword = '';
								}
							})
							.catch(function (error) {
								console.log(error);
							});
						}

					},
					mounted() {
						$('.js-pscroll').each(function(){
							var ps = new PerfectScrollbar(this);

							$(window).on('resize', function(){
								ps.update();
							})
						});
					},
					computed: {
						"columnsKey": function columns() {
							if(this.rows[selected].length == 0) {
								return [];
							}
							return {
								key1: 'title',
								key2: 'end_datetime',
								key3: 'type',
								key4: 'time_stamp'
							};
						},
						"columnsName": function columns() {
							if(this.rows[selected].length == 0) {
								return [];
							}
							return {
								key1: '品名',
								key2: '結束日期',
								key3: '種類',
								key4: '領取時間'
							};
						}
					},
					template: `
						<div style="height: 100%;display: flex;flex-direction: column;align-items: center;justify-content: center;">
							<div id="am-history-search">
								<div style="text-align: center">
									<div class="am-wrap-input" style="display: inline-block; width: 200px; vertical-align: middle; margin-bottom: 0px;">
										<input class="am-input" type="text" name="keyword" placeholder="Keyword" v-model="keyword" style="height: 33px;">
									</div>
									<div id="am-button-history" style="display: inline-block; vertical-align: middle;">
										<button class="am-button" @click="btn_history">
											查詢
										</button>
									</div>
								</div>
								<div id="am-history-notfound" v-bind:class="[((init == 1) || (usernames.length > 0))? 'not-display':'']"><span>查無結果</span></div>
								<div id="am-history-select" v-bind:class="[usernames.length == 0? 'not-display':'']">
									<select v-model="selected">
										<option v-for="username in usernames" v-bind:value="username.value">{{username.text}}</option>
									</select>
									<div class="select__arrow"></div>
								</div>
							</div>
							<div id="am-history-table" class="am-content-block" data-app="true">
								<div class="am-table" >
									<div>
										<table>
											<thead>
												<tr>
													<th style="width: 300px; text-align: center;">品名</th>
													<th style="width: 180px; text-align: center;">結束日期</th>
													<th style="width: 80px; text-align: center;">種類</th>
													<th style="width: 190px; text-align: center;">領取時間</th>
												</tr>
											</thead>
										</table>
									</div>
									<div class="js-pscroll" style="max-height: 400px;">
										<table>
											<tbody>
												<tr v-for="row in rows[selected]">
													<td style="width: 300px; text-align: center;">{{row['title']}}</td>
													<td style="width: 180px; text-align: center;">{{row['end_datetime']}}</td>
													<td style="width: 80px; text-align: center;">{{row['type']}}</td>
													<td style="width: 190px; text-align: center;">{{row['time_stamp']}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>`
				},
				'about-component': {
					template: `
						<div id="am-about" class="am-content-block" data-app="true">
							ABOUT
						</div>`
				}
			}
		});
	</script>
</body>
</html>

